.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #15e63f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #19b019;
  text-decoration: none;
}

#app{
display: block;
background-color: #ffffff;
cursor: default;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
z-index: 23;
width: 530px;
height: 175px;
border-radius: 20px;
}

#app:hover{
cursor:default;
}

#canvas, .filter{
z-index: -1;
}

.landscape{
z-index: 0;
}
